<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <%- include('./component/header.ejs', {user : user}) %>
    </head>
    <body>
        <div style="padding: 0px 15px;">
        <h2><%= profile.name %></h2>
        <p><%= profile.email %></p>
        
        <% if (profile.admin) { %>
            <p> ADMIN </p>
        <% } %>

        <%# Profile editing for categories. %>
        <% if (profile.email === user.email) { %>
            <label for="category">All Bulletins:</label>
            <div id="category" name="category"> 
                <% categories.forEach(category => { %>
                    <% if (Object.keys(profile.categories).includes(category)) { %>
                        <input type="checkbox" value=<%= category %> id=<%= category %> name=<%= category %> checked>
                    <% } else { %>
                        <input type="checkbox" value=<%= category %> id=<%= category %> name=<%= category %>>
                    <% } %>
                    <label for=<%= category %>> <%= category %> </label>
                    <br>
                <% }); %>
            </div><br>
            <button id="category-add">Update</button>
        <% } %>
        <div style="width:60%">
        <h2> Posts: </h2>
        <% if (user.admin) { %>
            <% posts.forEach((post) => { %>
                <%- include('./component/postView.ejs', {post: post, admin_view: true}) %>
            <% }); %>
        <% } else { %>
            <% posts.forEach((post) => { %>
                <% if (post.approved) { %>
                <%- include('./component/postView.ejs', {post: post, admin_view: false}) %>
                <% } %>
            <% }); %>
        <% } %>
    </div>
        </div>

        <p id="hidden-categories" style="display: none;"><%= JSON.stringify(profile.categories) %></p>


        <%# Script for profile editing. %>
        <% if (profile.email === user.email) { %>
            <script>
                let c_list = JSON.parse(document.getElementById("hidden-categories").innerText);
                document.getElementById('category-add').onclick = async () => {
                    let categoryForm = document.getElementById('category');

                    for (category of categoryForm.children) {
                        console.log(category.checked, c_list[category.value], category.value)
                        if (category.checked && !c_list[category.value]) {
                            //send subscribe
                            const body = {
                                newCategory: category.value,
                            };

                            const response = await (await fetch('/api/profile/addCategory', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(body)
                            })).json();
                            if (response.error !== undefined) {
                                alert(response.error);
                            }
                        } else if (!category.checked && c_list[category.value]) {
                            //send unsubscribe
                            const body = {
                                category: category.value,
                            };

                            const response = await (await fetch('/api/profile/removeCategory', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(body)
                            })).json();
                            if (response.error !== undefined) {
                                alert(response.error);
                            }
                        }
                    }
                }
            </script>
        <% } %>
    </body>
</html>