<div class="postBox">
    <h3><%= post.title %></h3>
    <h4>category: <%= post.category%></h4>
    <span>By <%= post.authorName %> | <%= (new Date(post.postTime)).toLocaleDateString(undefined, { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %></span>
    <p><%= post.text %></p>
    <% if (admin_view) { %>
        <button onclick="approvePost(<%= JSON.stringify(post) %>)">Approve Post</button>
    <% } %>
</div>
